
#slider{
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    color: black;
}

.container{
    /* background-color: maroon; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    /* border: 2px solid black; */

    /* previous width was 1600px and no max-width */
    width: 100%;
    max-width: 1600px;
    margin: auto;
    background-color: var(--light-gray-color);
}

.subcontainer{
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    /* background-color: blue; */
}

.slider-wrapper{
    position: relative;
}

#controls, #controls2, #controls3{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.previous, .next{
    padding: 2px;
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    position: absolute;
    transition: .7s ease-in-out;
    border: 3px solid var(--red-accent-color);
    background-color: var(--red-accent-color);
    box-shadow: 0 0 5px black;
}

.previous:hover, .next:hover{
    border: 3px solid gray;
}

.next{
    right: 0;
}

.controller{
    display: flex;
    justify-content: space-between;
    color:#EDEFF8;
    border-bottom: solid 1px #EDEFF8;
    position: relative;
    padding: 10px 0;
}

@media(max-width:600px){
    .controller{
        overflow-x: clip;
    }
    .controller::after{
        width: 300px;
        height: 300px;
        left: 0;
        top: 0;
    }
}

/* .controller h2{
    margin-bottom: 10px;
    color:#151416;

} */

#controls{
    z-index:10;
}

#controls i, #controls2 i, #controls3 i{
    color: white;
    font-size: 1.3rem;
    z-index: 10;
}

.cr {
  width: 200px;
  padding: 5px;
  z-index: 20;
  position: absolute;
  text-align: center;
  color: var(--green-accent-color);
  /* background-color: #151416; */
  /* background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%); */
  /* background: var(--red-accent-color); */
  /* color:white; */
}

.rentable{
    background-color: var(--red-accent-color);
    color:white;
}

.listing{
    background-color:darkolivegreen;
    color:white;
}

.sublease{
    background-color:cornflowerblue;
    color:white;
}

.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -60px; }

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}


.slide-img{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 10;
    /* border-radius:12px 12px 0 0; */
}

.slide-img a{
    width: 100%;
    height: 100%;
    background: brown;
}
.ribbon{
    position: absolute;
    width: fit-content;
    padding: 5px 20px;
    right: 0;
    top: 20px;
    color:white;
}

.ribbon-listing{
  background-color: #57837B;
}

.ribbon-rental{
  background-color: var(--red-accent-color);
}

.ribbon-lease{
  background-color: cornflowerblue;
}
.slide-img img{
    height: 200px;
    width: 100%;
    object-fit: cover !important;
    /* border-radius: 12px; */
}

.slide-img .status{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: red;
    z-index: 1;
    border: 2px solid white;
    border-radius: 100%;
}
.green{
    background-color: green !important;
}
.yellow{
    background-color: yellow !important;
}

.single-post-cont{
    /* background-color: red; */
     /* box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%) !important; */
     margin: 10px;
     margin-top: 0;
     overflow: hidden;
     background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important;
    box-shadow: 0px 12px 32px rgb(17 16 21 / 50%) !important;
    z-index: 10 !important;
    /* padding: 5px; */
     /* border-radius: 12px; */
     position: relative !important;
}

.single-post-cont:hover{
    box-shadow: 0px 12px 32px rgb(17 16 21 / 100%) !important;
}
/* .slide-img:hover{
    box-shadow: 0 0 0 200px rgba( 0,0,0,.9) inset;
} */

.slid-img a {
    text-decoration: none;
    transform: scale(0);
    transition: .8s;
    font-size: 1.5rem;
    color:white;
    opacity: 0;
}

.slid-img:hover a{
    opacity: 1;
    transform: scale(1);
}

.listing-details{
    text-align: center;
    padding: 10px 15px;
    box-sizing: border-box;
    /* background-color: var(--dark-color); */
    background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    /* border-radius: 0 0 10px 10px; */
}

 
.listing-details a{
    text-decoration: none !important;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px !important;
    color: #db6657 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 40px;
    */
}
.listing-details h4{
    margin-bottom: 5px;
}
.listing-details h5{
    font-size: .7rem;
    color:var(--text-color-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.listing-type{
    height: 25px;
    width: 100%;
    background-color: peru;
    color:var(--text-color-light);
    display:flex;
    align-items: center;
    justify-content: center;
}

.rentable-type{
    height: 25px;
    width: 100%;
    background-color: #207E82;
    color:var(--text-color-light);
    display:flex;
    align-items: center;
    justify-content: center;
}

.lease-type{
    height: 25px;
    width: 100%;
    background-color: #A98B98;
    color:var(--text-color-light);
    display:flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}
