
.createListingSection {
    width: 100%;
	/* min-height: 90vh; */

	border-radius: 0 45px 45px 45px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* color: white !important; */
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
	overflow: hidden;
	background: url('../images/rotunda.jpg');
	background-position: bottom;
    background-repeat: no-repeat;
	background-size: cover;
	/* box-sizing: border-box; */
}

.info, .listingFormContainer{
    height: auto;
    padding: 10px 0;
}

.info {
    width: 40%;
	border-radius: 0 0 0 45px;
    /* background-color:azure; */
	/* background-color: var(--dark-color); */
    /* background-color: rgba(0, 0, 0, 0.8); */

	/* opacity: .7; */
}

.listingFormContainer{
    width: 60%;
	overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

/* end custom styling */

/* styling from Code Pen*/
/* link: https://codepen.io/webbarks/pen/QWjwWNV */

.listingFormContainer h1{
	font-size: 20px;
	/* color: var(--dark-color); */
	color:white;
	margin: 5px 0;
}

.listingForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	overflow: hidden;
}

.create-listing-header{
	margin-top: 10px !important;
	color: white !important;
	/* color: var(--background-color) !important; */
	font-size: 17px !important;
}
.listingForm p{
  	text-align:left;
	margin-top:0;
	color: red;
	font-size: 13px;
}

.listingCard {
	padding: 5% ;
	width: 65%;
	/* background:var(--dark-color); */
	/* background:rgba(255,255,255,0.9); */
	background: rgba(36,34,44, .5);
	backdrop-filter:blur(10px);
	box-shadow:0px 2px 10px rgba(0,0,0,0.3);
	border-radius:5px;
	transition:transform 0.2s ease-in-out;
	overflow: hidden;
}

.listingButtonsContainer{
	margin: 10px 0;
}
.button {
	
	background-color: var(--red-accent-color) !important;
	border-radius: 5px;
	padding: 7.5px 15px !important;
	display: inline-block;
	font-weight: bold;
	color: white;
	cursor: pointer;
	margin: 0 5px;
	box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

input, select, textarea, .preview {
	width: 100%;
	margin: 3.5px 0px;
	display: inline-block;
	padding: 6px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid lightgrey;
	font-size: 1em;
	font-family:inherit;
	background:white;
	color: var(--background-color);
	/* color: #92EBC4; */
}

/* header of multi-step form */
#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}


.disabled {
  display:none;
}

/* animation for checkboxes */

ul.ks-cboxtags {
    list-style: none;
    /* padding: 20px; */
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 4px 6px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    color: black;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}


.user-img-list{
	list-style: none;
  	margin: 0;
  	padding-left: 0
}

.user-img-list li {
	width: 80px;
	height: 80px;
	overflow: hidden;
  	float: left;
  	position: relative;
	border: 1px solid var(--dark-color);
	margin: 5px;
}

.user-img-list li img{
	width: 100%;
	height: 100%;
	object-fit: contain; /* or object-fit: contain; */
}
/* removing styling from submit button */
.submit-create-listing {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background-color: var(--red-accent-color);
}

@media(max-width: 1000px){
	.listingCard{
		width: 80%;
	}
}
@media(max-width: 800px){
	.info{
		display: none;
	}

	.listingFormContainer{
		width: 100%;
	}
}

@media(max-width:700px){
	.listingCard{
		width: 80%;
	}
}

@media(max-width:500px){
	.listingCard{
		width: 90%;
	}
	ul.ks-cboxtags li label{
		font-size: 12px;
	}
}