.side-filter-container{
    position: fixed;
    left:-350px;
    width: 350px;
    max-width: 350px;
    height:calc(100vh - 70px);
    background: rgba(29,28,36,0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    top: 70px;
    z-index: 20;
    transition: all .3s ease ;
    border-right: 10px solid #151416; 
}

.show-filter{
    display:none;
}

.sidebar-toggle{
    position: absolute;
    top: 55px;
    left: calc(100%);
    background: #151416;
    padding: 20px 15px 20px 25px;
    text-align: center;
    border-radius: 8px;
}

.sidebar-toggle:hover{
    cursor:pointer;
}

#show-filter:checked ~ .side-filter-container{
    left: 0% !important;
}

.filter-list{
    padding: 20px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: all 0.3s ease;
}

.filter-list::-webkit-scrollbar{
    display: none;
}
.filter-list li{
    list-style: none;
    line-height: 40px;
    margin: 10px 20px;
}

.filter-list li a,
.filter-list li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none !important;
    text-transform: capitalize;

    display: block;
    width: 100%;
    line-height: 30px;
}

.filter-list li a:hover,
.filter-list li label:hover{
    background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important;
    text-decoration: none !important;
    cursor:pointer;
}

.filter-list ul,
.filter-list ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
    transition: all .5s ease;
}

.side-filter-container input[type="checkbox"]{
  display: none;
}

.filter-list #dist:checked ~ ul,
.filter-list #cat:checked ~ ul,
.filter-list #cost:checked ~ ul,
.filter-list #cond:checked ~ ul,
.filter-list #type:checked ~ ul,
.filter-list #util:checked ~ ul{
    max-height: 100vh;
}

.filter-list #dist:checked + label,
.filter-list #cat:checked + label,
.filter-list #cost:checked + label,
.filter-list #cond:checked + label,
.filter-list #type:checked + label,
.filter-list #util:checked + label{
    background-color: var(--red-accent-color);
}

.price-label{
    display:flex !important;
    flex-direction: column;
}

.price-label div{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-label p{
    display:none;
    font-size: 12px;
    color:red;
    line-height: 14px;
}

.price-label form{
    width: 100%;
    display:flex !important;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.price-label:hover{
    cursor: default !important;
}
.price-label input[type=number]{
    border:none;
    background:transparent;
    color:var(--red-accent-color);
    font-size:18px;
    font-weight:500;
    width: 30%;
}

.price-label input[type=number]:focus{
    border:none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.price-label input[type=submit]{
    border:none;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}

.price-label input[type=submit]:hover{
    background-color: var(--red-accent-color);
    cursor: pointer;
}
.picked {
    background: var(--red-accent-color) !important;
}

.filters-applied-container{
    width: 100%;
    height: fit-content;
    background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important;
    padding: 10px 50px;
    list-style-type: none;
}

.filters-applied-list li{
    display: inline-block;
    padding: 3px 6px;
    background-color: var(--red-accent-color);

    color: white;
    margin: 2.5px 0 !important;
    border-radius: 5px;
    width: fit-content;
    height: fit-content !important;
    text-align: center;
    align-items:center;
    font-size:14px;
    text-align: center;
}

.filters-applied-list li a i{
    padding: 3px 6px;
    margin-left: 5px;
    color:white;
    height:100%;
}

.filters-applied-list li span{
    text-transform: uppercase;
    color:var(--background-color);
}

.filters-applied-list li a i:hover{
    background-color: var(--background-color);
    cursor:pointer;
}

/* @media (max-width: 480px){
    .filters-applied-container{
        padding: 10px 20px !important;
    }
} */

@media (max-width: 400px){
    .side-filter-container{
        max-width: 300px;
        left: -300px;
    }
}

@media (max-width: 350px){
    .side-filter-container{
        max-width: 275px;
        left: -275px;
    }
}