
html{
    font-size: 17px;
} 

*{
    margin:0;
    box-sizing: border-box;
    /* margin-bottom: 0 !important; */
}
body{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}


:root{    
    /* color palette */
    --background-color:#24222c;
    --red-accent-color: #db6657;
    --green-accent-color:#92EBC4;
    --text-color-light:#EDEFF8;
    --text-color-dark:#C9C9DC;
}

.flash-message{
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red-accent-color);
    color: white;
    width: fit-content;
    padding: 20px 40px;
    opacity: .9;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    margin: 90px 0;
    z-index: 10;
}
.header-cont{
    width: 100%;
    height: 70vh;
    /* margin-top: 70px; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    background:url("../images/old-cabell.jpg");
    background-repeat:  no-repeat;
    background-position:bottom;
    background-size: cover;
}

.header-cont div{
    background: rgba(36,34,44, .7);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}

.header-cont h1{
    font-size: 3rem;
    color: var(--red-accent-color);
    font-weight: 800;
    background: rgba(0,0,0,.1);
    text-align: center;
}

.header-cont p{
    font-size: 1.5rem;
}

.main-listings-container{
    padding: 1em 0;
    box-sizing: border-box;
    /* background-color: white; */
    background-color: var(--background-color);
    /* background-color: blue; */
    /* background-color: var(--light-gray-color); */
}

.listings-parent-container{
    width:100%;
    height: fit-content;
    background-color: var(--background-color);
    /* background-color: red; */
    /* background-color: white; */
    /* background-color: var(--light-color); */
    box-sizing: border-box;
    /* padding: 1em 2em; */
    /* background-color:green; */
    /* background-color: var(--gray-color); */
    padding:0 50px;
}

.listings-container{
    background-color: gray;
}

.listing-header{
    box-sizing: border-box;
    padding: 20px 0 10px 5px;
    border-bottom: #272727 1px solid;
}

.newsletter-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px; 
}    

.newsletter-form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

.newsletter-form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.newsletter-form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.newsletter-form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
}


/* listing tags styling begin */

.unordered-tags-list{
    list-style-type: none;
}

.tags-list-item{
    display: inline-block;
    padding: 0 5px;
    /* background-color: var(--red-accent-color); */
    /* backdrop-filter: blur(10px); */
    background-color: rgb(17 16 21 / 25%);
    color: white;
    margin: 2.5px !important;
    border-radius: 5px;
    padding: 2px 6px;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content !important;
    text-align: center;
}

.tags-list-item:hover{
    background-color: var(--red-accent-color);
}
.tags-list-item a{
    text-decoration: none;
    /* color: white; */
    color:var(--text-color-light);
    font-weight: 300 !important;
}


.button1 {
    display: inline-block;
    padding: 0.5em 1.2em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(180deg, #F76F62 0%, #E84848 100%);
    box-shadow: 0px 4px 24px rgb(244 99 67 / 32%);
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    border: none;
    cursor: default;
}

.paginate-previous,
.paginate-next{
    margin:0;
}

.empty-gallary-message{
    padding: 15px 25px;
    height: 20%;
    color:var(--red-accent-color);
    width: 100%;
    border-radius: 12px;
    background: rgba(49,47,59,0.5);
    backdrop-filter: blur(44px);
    box-shadow: 0px 12px 32px rgb(17 16 21 / 50%);
    margin:10px 0;
}
/* 

.loading-page{
    position: fixed;
    width: 100%;
    height:calc(100% + 70px);
    z-index: 100;
    top:-70px;
    background-color: rgba(0,0,0,0.7);
    display: none;
    
}

.loading-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon i{
    font-size: 200px;
}
*/

/* loading page */
.loader-wrapper {
  /* width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center; */
    position: fixed;
    width: 100%;
    height:calc(100% + 70px);
    z-index: 100;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@media (max-width: 1000px){
    .listings-parent-container{
        padding:0;
    }
}
@media(max-width: 900px){

    .header-cont div h1{
        font-size: 40px;
    }

    .header-cont div p{
        font-size: 25px;
    }
}

@media(max-width: 700px){

    .header-cont div h1{
        font-size: 35px;
    }

    .header-cont div p{
        font-size: 20px;
    }
}

/* loading page end */
@media(max-width: 480px){
    .listings-parent-container{
        padding: 20px !important;
    }

    .header-cont div h1{
        font-size: 32px;
    }

    .header-cont div p{
        font-size: 18px;
    }
}
/* end list tag styling */