container_commands:
    01_set_up_migration:
        command: "php /var/app/current/artisan cache:clear"
        leader_only: true
    02_set_up_migration:
        command: "php /var/app/current/artisan config:clear"
        leader_only: true
    migration:
        command: "php /var/app/current/artisan migrate --force"
        leader_only: true