container_commands:
    01_set_up_migration:
        command: "php /var/app/staging/artisan cache:clear"
        leader_only: true
    02_set_up_migration:
        command: "php /var/app/staging/artisan config:clear"
        leader_only: true
    migration:
        command: "php /var/app/staging/artisan migrate:refresh --force"
        leader_only: true